@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
    color: #2B2A27;
}

/* メインビジュアル */
.main-visual {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
}

.main-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; /* PCは上寄せ */
    display: block;
}

/* サイト説明（about） */
.about {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 80px;
}

.about h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about p {
    margin: 0 auto;
    line-height: 1.5;
}

/* ギャラリー */
.gallery {
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.gallery-item {
    display: flex;
    width: 100%;
}

.gallery-item img {
    width: 33.3333%;
    height: 100%;
    object-fit: cover;
}

/* レシピリンクボタン */
.link {
    text-align: center;
    margin: 60px auto;
}

.link .btn {
    display: inline-block;
    font-size: 14px;
    padding: 18px 60px;
    border: #2B2A27 1px solid;
    text-decoration: none;
}

/* フッター */
footer {
    text-align: center;
    padding: 40px 20px 20px 20px;
    font-size: 12px;
}

footer .sns {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .sns li a {
    text-decoration: underline;
}

/*--------------------------------------
    レスポンシブ対応
---------------------------------------*/
@media (max-width: 834px) {
    .main-visual img {
        object-position: center; /* スマホでは中央寄せ */
    }

    .gallery {
        flex-direction: column; /* 横並び → 縦並び */
        height: auto;           /* 高さ固定を解除 */
    }

    .gallery-item {
        flex-direction: column; /* 画像も縦に並べる */
        width: 100%;
    }

    .gallery-item img {
        width: 100%;      /* 画面幅いっぱい */
        height: 500px;    /* 高さを調整 */
        object-fit: cover;
    }

}